body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  background-color: blue;
  text-align: center;
  padding: 30px 50px;
  color: antiquewhite;
  border-radius: 8px;
}
